body {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  white-space: break-spaces;
}

.red {
  color: red;
}

.green {
  color: rgb(0 221 0);
}

.container {
  height: 150px;
  width: 800px;
  position: relative;
  top: 200px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline {
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}

.underline-red {
  border-bottom: 3px solid red;
  padding-bottom: 5px;
}

.animation {
  transform: rotateX(180deg) 1s;
}
